@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  --main-square-clr: #dff4ff;
  --square-accent-clr: #93d4f7;
  --main-font-clr: #717c96;
  --secondary-font-clr: #ffffff;
  --ship-clr: #3b16bf;
  --bright-accent-clr: #ff0055;
  --mild-accent-clr: #344e4e;
  --secondary-accent-clr: #65708b;
  --square-size: 2.5rem;
  --square-gap: 0.313em;
  --square-size-small: 1.8rem;
  --square-gap-small: 0.2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* General styles */

body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;

  min-height: 100vh;
}

/* Gameboard wrapper styles */

.gameboard-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  gap: 0.625em;
}

.fleet-sign {
  --fleet-properties: 5px;

  grid-column: 1 / 3;
  display: grid;
  place-items: center;

  font-size: 1.3rem;
  letter-spacing: 2px;
  color: var(--secondary-font-clr);

  border-radius: var(--fleet-properties);
  padding-block: var(--fleet-properties);
  margin-bottom: 1em;
}

.player1-fleet {
  background-color: var(--bright-accent-clr);
}

.player2-fleet {
  background-color: var(--secondary-accent-clr);
}

.column-letters,
.row-numeration {
  display: grid;
  gap: var(--square-gap);
  text-align: center;
  align-items: center;
}

.column-letters {
  grid-column: 2;
  grid-row: 2;
  grid-template-columns: repeat(10, var(--square-size));
  color: var(--main-font-clr);
}

.row-numeration {
  grid-template-rows: repeat(10, var(--square-size));
  color: var(--main-font-clr);
}

.row-numeration,
.gameboard {
  grid-row: 3;
}

/* gameboard styles */

.gameboard {
  display: flex;
  flex-direction: column;
  gap: var(--square-gap);
}

.row {
  display: flex;
  gap: var(--square-gap);
}

.square {
  display: grid;
  place-items: center;

  width: var(--square-size);
  aspect-ratio: 1;
  border: 1px solid var(--square-accent-clr);
  background-color: var(--main-square-clr);
  border-radius: 5px;
}

.square[data-status="none"] {
  cursor: crosshair;
}

.square[data-status]:not([data-status="none"]) {
  cursor: not-allowed;
}

.square[data-occupied="ship"] {
  background-color: var(--ship-clr);
}

.square[data-status="hit"]::after,
.square[data-status="miss"]::after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.square[data-status="hit"]::after {
  background-color: var(--bright-accent-clr);
}

.square[data-status="miss"]::after {
  background-color: var(--mild-accent-clr);
}

.square[data-status="sunk"] {
  background-color: #7fffd4;
}

.square.potential-placement {
  animation: highlightShip 700ms alternate infinite;
}

@keyframes highlightShip {
  to {
    background-color: var(--ship-clr);
  }
}

/* media queries */

@media screen and (max-width: 550px) {
  main {
    flex-direction: column;
    gap: 1em;
  }

  .gameboard-wrapper {
    grid-template-columns: 15px 1fr;
    font-size: 1rem;
  }

  .row {
    gap: var(--square-gap-small);
  }

  .column-letters {
    grid-template-columns: repeat(10, var(--square-size-small));
    gap: var(--square-gap-small);
  }

  .row-numeration {
    grid-template-rows: repeat(10, var(--square-size-small));
  }

  .square {
    max-width: var(--square-size-small);
    max-height: var(--square-size-small);
  }

  .fleet-sign {
    border-radius: 0;
  }

  .square[data-status="hit"]::after,
  .square[data-status="miss"]::after {
    height: 13px;
  }

  .graveyard {
    display: none;
  }
}
